.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);
  overflow: auto;

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;
    border: 1px solid gray;

    .tableCell {
      color: gray;
    }
    .pagination {
      color: gray;
      .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
        color: gray;
      }
    }
  }

  .feedback-table {
    background-color: #111;
    border: 1px solid gray;

    .tableCell {
      color: gray;
    }
    .pagination {
      color: gray;
      .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
        color: gray;
      }
    }
  }

  .project-table{
    background-color: #111;
    border: 1px solid gray;

    .tableCell {
      color: gray;
    }
    .pagination {
      color: gray;
      .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
        color: gray;
      }
    }
  }

  .clock-table{
    background-color: #111;
    border: 1px solid gray;

    .tableCell {
      color: gray;
    }
    .pagination {
      color: gray;
      .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
        color: gray;
      }
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      background-color: transparent;
      color: gray;
      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: gray;
        border: none;
      }

      .css-rtrcn9-MuiTablePagination-root {
        color: gray;
      }
      .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
        color: gray;
      }
      .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
        color: gray;
      }

    }
  }
  .singleContainer {
    .top {
      .left {
        .details {
          .itemTitle {
            color: rgb(160, 160, 160);
          }
          .detailItem {
            .itemKey {
              color: rgb(160, 160, 160);
            }

            .itemValue {
              color: rgb(160, 160, 160);
            }
          }
        }
      }
    }
  }

  input {
    background-color: transparent;
    color: gray;
  }
}
